header {
    background-image: url(../images/menu1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1000;
    border-bottom: 2px solid black;

}.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: .6;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.747), rgb(36, 32, 32));
}
.svg{
    fill: aliceblue;
}